//BS4
@import "../node_modules/bootstrap/scss/functions";
@import "./helpers/variables"; // 複製一份 variable 來覆蓋
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

//base
@import "base/base";

//grid
// @import "grid/grid";

// utilities
@import "utilities/utilities";

//components
@import "components/ticketCard";

// layout
// @import "layout/header";
// @import "layout/footer";

// pages
@import "pages/index";