.ticketCard {
    background: white;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 38px !important;
    .ticketCardImg {
        position: relative;
        a {
            display: block;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
        img:hover {
            transform: scale(1.15);
        }
        .cardArea {
            position: absolute;
            top: -13px;
            left: 0;
            font-size: 1.25rem;
            background-color: #64c3bf;
            padding: 12px 20px;
            border-radius: 0 5px 5px 0px;
            p {
                color: #fff;
                text-align: center;
            }
        }
    }
    .ticketCardContent {
        padding: 20px 20px 14px 20px;
        height: 296px;
        position: relative;
        .cardName {
            font-size: 24px;
            color: #00807e;
            border-bottom: 2px solid #007572;
            margin-bottom: 16px;
            a{
                color: #00807e;
            }
        }
        .cardDescription {
            color: #818a91;
        }
        .cardGroup {
            color: #00807e;
            line-height: 43px;
            align-items: center;
            display: flex;
        }
        .cardPrice {
            color: #00807e;
            line-height: 43px;
            align-items: center;
            display: flex;
            span {
                font-size: 32px;
            }
        }
        .cardRate {
            position: absolute;
            top: -16px;
            left: 0;
            background-color: #00807e;
            padding: 5px 8px;
            min-width: 40px;
            border-radius: 0 5px 5px 0px;
            p {
                color: #fff;
                text-align: center;
            }
        }
    }
}